<div class = "card">
  <div class = "card-header">
  <h4><%= link_to "Patient №" + patient.id.to_s, patient %></h4>
  </div>
  <div class = "card-body">
    <p><b>Physician: </b><%= patient.name %></p>
  </div>
</div>
