<div class = "card">
  <div class = "card-header">
  <h4><%= link_to "Doctor №" + doctor.id.to_s, doctor %></h4>
  </div>
  <div class = "card-body">
    <p><b>Doctor: </b><%= doctor.name %></p>
    <p><b>Speciality: </b><%= doctor.speciality %></p>
  </div>
</div>
